<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/app.css">
    <!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="AppController as app">
    <div class="io-background">
    </div>
    <div class="io-site">
        <div class="io-nav">
            <div class="io-nav-inner">
                <header class="io-nav-header red accent-2">
                    <!-- <div class="io-nav-title">
                        <div class='userIcon'>
                            <i class="mdi-social-person"></i>
                        </div>
                    </div> -->
                    <div class="io-nav-text">
                        <div class="io-nav-header-name white-text darken-1">
                            Joel <strong>Cox</strong>
                        </div>
                        <div class="io-nav-header-email">
                        Ui & UX Designer
                        </div>
                        <div class="io-nav-header-email">
                        Software Engineer
                        </div>
                    </div>
                </header>
                <div class="io-navigation" du-scroll-container="container">
                    <a href="#section-1" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-social-person red-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Profile</div>
                    </a>
                    <a href="#section-2" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-action-history purple-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Experience</div>
                    </a>
                    <a href="#section-3" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-equalizer blue-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Skills</div>
                    </a>
                    <a href="#section-4" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-web green-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Projects</div>
                    </a>
                    <div href="#section-5" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-communication-call amber-text darken-3"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Contact</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="io-container" id="container" du-scroll-container>

            <div class="io-content io-profile" id="section-1">
                <div class="io-profile-header">
                    <h1 class="grey-text darken-1">{{app.name.all}}</h1>
                    <hr>
                </div>
                <div class="io-profile-details" data-ng-include="'app/templates/profile.view.html'"></div>
            </div>
            <div class="io-content" id="section-2">
                <div class="io-content-header red accent-2">
                    <h1 class="white-text">Experience</h1>
                    <hr>
                </div>
                <div class="io-section" data-ng-include="'app/templates/experience/hackreactor.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/hourglass-events.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/dfw-print.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings-relations.view.html'"></div>
            </div>
            <div class="io-content" id="section-3">
                <div class="io-content-header red accent-2">
                    <h1 class="white-text">Skill Set</h1>
                    <hr>
                </div>
                <div class="io-section" data-ng-include="'app/templates/skill-set.view.html'"></div>
            </div>
            <div class="io-content" id="section-4">
                <div class="io-content-header red accent-2">
                    <h1 class="white-text">Projects</h1>
                    <hr>
                </div>
                <div class="io-section" data-ng-include="'app/templates/projects/slushy.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/projects/plateful.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/projects/TraCom.view.html'"></div>
            </div>

        </div>
    </div>



    <!-- <nav class="top-nav" data-ng-include="'app/core/views/header.view.html'"></nav> -->

    <!-- <ui-view></ui-view> -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
    <script src="bower_components/ng-Fx/dist/ngFx.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <!-- endbower -->
    <script src="bower_components/gsap/src/minified/TimelineMax.min.js"></script>

    <!-- inject:js -->
    <script src="app/app.js"></script>
    <script src="app/io.js"></script>
    <script src="app/core/core.module.js"></script>
    <script src="app/modules/app.modules.js"></script>
    <script src="app/core/config/routes.config.js"></script>
    <script src="app/core/controllers/app.controller.js"></script>
    <script src="app/core/controllers/home.controller.js"></script>
    <script src="app/core/services/storage.service.js"></script>
    <script src="app/modules/messages/messages.module.js"></script>
    <script src="app/core/directives/mvVm/mvVm.directive.js"></script>
    <script src="app/core/directives/mvVm/mvVm.test.js"></script>
    <script src="app/core/directives/vmItem/vmItem.directive.js"></script>
    <script src="app/core/directives/vmItem/vmItem.test.js"></script>
    <script src="app/modules/messages/api/message.api.service.js"></script>
    <script src="app/modules/messages/config/routes.config.js"></script>
    <script src="app/modules/messages/controllers/messages.controller.js"></script>
    <!-- endinject -->
  </body>
</html>