
<div class="io-section-heading">
    <img width="60px" src="app/logos/plateful-logo.png" class="circle responsive-img">
    <h3> Plateful</h3>
    <span class="sub grey-text darken-1">Yelp, For Menu Items.</span>
    <span class="date grey-text darken-1">2014</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Identified competitive opportunity to exploit shortcomings in incumbent restaurant item recommendation services.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Developed from the ground up: photo-centric iOS & Android app to compete against Yelp among foodies.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Instituted a continuously integrated test and behavior driven development strategy and workflow.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Oversaw transition of the team to agile development, adhering to best-practice scrum methodologies.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Deployed RESTful API server and Neo4j graph-oriented database on scalable coordinating virtual machines.
        </li>
    </ul>
</div>
