
<div class="io-section-heading">
    <img width="60px" src="app/logos/slushy-logo.png" class="responsive-img">
    <h3> Slush-y</h3>
    <span class="sub grey-text darken-1">Slush JS Generator</span>
    <span class="date grey-text darken-1">2014</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Developed a strategy to provide a good resource for best coding practices.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Integrated a gulp & a Yeoman-Generator into a system called slushy, allowing the full functionality of either technology.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Generates a full working application template with OAuth system, and user stories.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Using Angular, Gulp, Socket.io, NodeJS, ExpressJS, along with Google Material.
        </li>
    </ul>
</div>
