<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/swbts-logo.png" class="responsive-img">
        </div>
        <div class="section-title">SouthWestern Theological Center</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2010-2013</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="pink-text">Hummanities & Liberal Arts</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text"></i><a class="indigo-text" href="http://college.swbts.edu/"> College.swbts.edu</a>
        </li>
        <li class="center-item">
            <i class="mdi-maps-place pink-text"></i><span class="ingigo-text"> Fort Worth, Texas</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Studied for Bachelor in History of Ideas</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Studied Humanities and ideas to structure and implement currently forming ideas.</span>
        </li>
    </ul>
</div>

