<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/uco-logo.png" class="responsive-img">
        </div>
        <div class="section-title">University of Central OK</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2009-2010</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text"></i><a class="indigo-text" href="http://www.uco.edu/"> UCO.edu</a>
        </li>
        <li class="center-item">
            <i class="mdi-maps-place pink-text"></i><span class="ingigo-text"> Oklahoma City, Oklahoma</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Studied Engineering, Photography, Graphic Arts</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Studied a variety of professions, trying to find what I am able to exceed in.</span>
        </li>
    </ul>
</div>

