<div class="io-section-card">
  <div class="io-section-card-heading">
    Advanced
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="content/images/html5-logo.png" class="responsive-img no-flex">
      <h6>HTML 5</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/css3-logo.png" class="responsive-img no-flex">
      <h6>CSS 3</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/javascript-logo.png" class="responsive-img no-flex">
      <h6>JavaScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/angular-logo.png" class="responsive-img no-flex">
      <h6>AngularJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/nodejs_logo.png" class="responsive-img no-flex">
      <h6>NodeJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/jquery-logo.png" class="responsive-img no-flex">
      <h6>jQuery</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/express-logo.png" class="top-lg responsive-img no-flex">
      <h6>ExpressJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/gulp-logo.png" class="responsive-img no-flex">
      <h6>GulpJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/github-logo.png" class="responsive-img no-flex">
      <h6>Github</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/ai-logo.png" class="responsive-img no-flex">
      <h6>Illustrator</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/Ps-logo.png" class="responsive-img no-flex">
      <h6>Photoshop</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/id-logo.png" class="responsive-img no-flex">
      <h6>InDesign</h6>
    </div>
  </div>

</div>
<div class="io-section-card">
  <div class="io-section-card-heading">
    Strong
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="content/images/backbone-logo.png" class="responsive-img no-flex">
      <h6>BackboneJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/coffeescript-logo.png" class="responsive-img no-flex">
      <h6>CoffeeScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/jade-logo.png" class="top-md responsive-img no-flex">
      <h6>Jade</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/stylus-logo.png" class="responsive-img no-flex">
      <h6>Stylus</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/less-logo.png" class="responsive-img no-flex">
      <h6>Less</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/sass-logo.png" class="responsive-img no-flex">
      <h6>Sass</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/yeoman-logo.png" class="responsive-img no-flex">
      <h6>Yeoman</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/grunt-logo.png" class="responsive-img no-flex">
      <h6>GruntJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/mongo-logo.png" class="top-lg responsive-img no-flex">
      <h6>MongoDB</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/slush-logo.png" class="responsive-img no-flex">
      <h6>SlushJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/ionic-logo.png" class="responsive-img no-flex">
      <h6>Ionic</h6>
    </div>
  </div>
</div>
<div class="io-section-card">
  <div class="io-section-card-heading">
    Experienced
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="content/images/neo4j-logo.png" class="top-lg responsive-img no-flex">
      <h6>Neo4J</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/apps-script-logo.png" class="responsive-img no-flex">
      <h6>AppScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/redis-logo.png" class="responsive-img no-flex">
      <h6>Redis</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/postgresql-logo.png" class="responsive-img no-flex">
      <h6>PostgreSQL</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/parse-logo.png" class="top-md responsive-img no-flex">
      <h6>Parse</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/php-logo.png" class="responsive-img no-flex">
      <h6>PHP</h6>
    </div>
    <div class="img-wrap">
      <img  src="content/images/laravel-logo.png" class="responsive-img no-flex">
      <h6>Laravel</h6>
    </div>
  </div>
</div>