<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-title">Graphic Artist </div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2006-Today</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="indigo-text">Contract & Freelance</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text text-accent-2"></i><span class="indigo-text">Portfolio Comming Soon!</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span>UI Design, PhotoGraphics, Illustrations, Vector Art, Logo's, Business Cards . . . And much more.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span>Artwork created using Adobe Photoshop, Adobe Illustrator, and Adobe Fireworks.</span>
        </li>
    </ul>
</div>
