<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/dfw-logo.png" class="responsive-img">
    </div>
    <div class="section-title">DFW Print</div>
    <div class="section-subtitle">
        <span class="blue-text darken-2">Senior Designer & Developer</span>
    </div>
    <div class="section-date no-xs">
        <span class="grey-text darken-2">2011-2013</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/dfw-logo.png" class="responsive-img">
        </div>
        <div class="section-title">DFW Print</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2011-2013</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="pink-text">Senior Designer & Developer</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Improved customer sales and company reputation, by providing rich stationary designs.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Exposed Adobe's design software to the company, by teaching the team how to affectively use Photoshop, Illustrator & InDesign.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span> Discovered a true passion for engaging customer's, inorder to provide the design that would best fit their need.</span>
        </li>
    </ul>
</div>

