

<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/hr-logo.png" class="circle responsive-img">
    </div>
    <div class="section-title">Hack Reactor</div>
    <div class="section-subtitle">
        <span class="blue-text darken-2">Hacker in Residence</span>
    </div>
    <div class="section-date no-xs">
        <span class="grey-text darken-2">2014</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/hr-logo.png" class="responsive-img">
        </div>
        <div class="section-title">Hack Reactor</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2014</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="blue-text text-darken-1">Hacker in Residence</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-circle blue-text "></i><span> Engaged in the development of current HR students by being an available educational resource.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text "></i><span> Took advantage of time, diving into several technologies that extend the possibilities of programming.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text "></i><span> Honored to be a Hacker in Residence under three month contract with HR.</span>
        </li>
    </ul>
</div>