<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/his-logo.png" class="responsive-img">
    </div>
    <div class="section-title">H-I-S Coatings</div>
    <div class="section-subtitle">
        <span class="blue-text darken-2">Customer Service & Many other Hats</span>
    </div>
    <div class="section-date no-xs">
        <span class="blue-text darken-2">2001-2010</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/his-logo.png" class="responsive-img">
        </div>
        <div class="section-title">H-I-S Coatings</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2001-2010</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="blue-text accent-2">Customer Service & Many other Hats</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-circle blue-text accent-2"></i><span> Established a firm understanding of customer relations, by working closely with serveral hundred customers.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text accent-2"></i><span> Provided support between Customer Relations, the Delivery Team, and the Small Batch Production team.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text accent-2"></i><span> Took the initiative to reorganize in house stocking system.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text accent-2"></i><span> Explored several positions, wearing several hats, as my father requested.</span>
        </li>
    </ul>
</div>