<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/hourglass-logo.png" class="responsive-img">
    </div>
    <div class="section-title">Hourglass Events</div>
    <div class="section-subtitle">
        <span class="blue-text darken-2">Senior Graphic Artist & Developer</span>
    </div>
    <div class="section-date no-xs">
        <span class="grey-text darken-2">2013-2014</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/hourglass-logo.png" class="responsive-img">
        </div>
        <div class="section-title">Hourglass Events</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2013-Today</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="yellow-text text-darken-4">Senior Graphic Artist & Developer</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Stimulated the FAAMA's Annual Conventions with extraordinary graphics.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Promoted convention Exhibitors thoughout each year, with continual email blasts, and mobile app ads.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Accelerated attendee envolvment with simple and intuative mobile application.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Engaged Exhibitors and FAAMA members with A-B Testing on event graphics and convention mobile app.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Assisted event managment team with graphics & mobile app.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle yellow-text text-darken-4 "></i><span> Accompanied event team managment during each convention.</span>
        </li>
    </ul>
</div>
