<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-title">Photographer</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2008-2013</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="indigo-text">Contract & Freelance</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text text-accent-2"></i><span class="indigo-text">Portfolio Comming Soon!</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span>Business Events, Conventions, Parties, Weddings, Portraits . . . etc</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text"></i><span>Final Proofs created with Adobe Photoshop</span>
        </li>
    </ul>
</div>
