<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-title mv-logo indigo-text">
            mv<strong class="pink-text text-accent-2">VM</strong>
        </div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2014-Today</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="pink-text text-accent-2">CLI Generator for FullStack Development</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text text-accent-2"></i><a class="indigo-text" href="http://mvvm-demo.azurewebsites.net">View Project</a>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text text-accent-2"></i><span> Integrated popular command line generators into one, with options for creating and saving local templates.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text text-accent-2"></i><span> Maximized developer's opinion of mvVm by continualy implementing A B testing.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text text-accent-2"></i><span> Re-Designed github for user's local machine, for saving and removing repos.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text text-accent-2"></i><span> Developed and deployd clean documentation interface.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle pink-text text-accent-2"></i><span> Provided testing and review system for developer contributions.</span>
        </li>
    </ul>
</div>