<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/plateful-logo.png" class=" responsive-img">
    </div>
    <div class="section-title">Plateful</div>
    <div class="section-subtitle">
        <span class="blue-text text-lighten-2">Yelp, For Menu Items</span>
    </div>
    <div class="section-date no-xs">
        <span class="grey-text darken-2">2014</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/plateful-logo.png" class=" responsive-img">
        </div>
        <div class="section-title">Plateful</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2014</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="blue-text text-lighten-2">Yelp, For Menu Items</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text text-accent-2"></i><a class="indigo-text" href="http://plateful.io">View Project</a>
        </li>
        <li class="center-item">
            <i class="fa fa-circle orange-text"></i><span> Identified competitive opportunity to exploit shortcomings in incumbent restaurant item recommendation services.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle orange-text"></i><span> Developed from the ground up: photo-centric iOS & Android app to compete against Yelp among foodies.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle orange-text"></i><span> Instituted a continuously integrated test and behavior driven development strategy and workflow.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle orange-text"></i><span> Oversaw transition of the team to agile development, adhering to best-practice scrum methodologies.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle orange-text"></i><span> Deployed RESTful API server and Neo4j graph-oriented database on scalable coordinating virtual machines.</span>
        </li>
    </ul>
</div>