<!-- <div class="io-section-heading">
    <div class="section-logo">
        <img width="60px" src="content/images/tracom-logo.png" class=" responsive-img">
    </div>
    <div class="section-title">TraCom</div>
    <div class="section-subtitle">
        <span class="blue-text text-lighten-2">CRM & ERP</span>
    </div>
    <div class="section-date no-xs">
        <span class="grey-text darken-2">2012-2014</span>
    </div>
</div> -->
<div class="io-section-heading-xs">
    <div class="io-section-heading-top">
        <div class="section-logo">
            <img width="60px" src="content/images/tracom-logo.png" class=" responsive-img">
        </div>
        <div class="section-title">TraCom</div>
        <div class="section-date grey-text text-darken-1">
            <span class="">2012-Today</span>
        </div>
    </div>
    <div class="io-section-heading-bottom">
        <div class="section-subtitle">
            <span class="blue-text text-lighten-2">CRM & ERP</span>
        </div>
    </div>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="fa fa-chevron-right pink-text text-accent-2"></i><span class="indigo-text">Project is private</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Custom-developed a real-time Customer Relations Platform with rich Enerprise Resource Planning integration for H-I-S Coatings company.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Implemented full featured OAuth system using Laravel and PHP backend with Angular and jQuery on front end.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Employed Google API’s for strategic delivery, routing and just-in-time order scheduling, and platform-wide notifications.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Integrated SQL database to communicate with SQL data store, structured by current Point-of-Sale system.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Engaged company employees with continual A-B testing to improve UX design.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> Provided fequent application feedback sessions for overall application health.</span>
        </li>
        <li class="center-item">
            <i class="fa fa-circle blue-text text-lighten-2"></i><span> TraCom is also used as the sole communications platform between Customer Relations and the Production Management team.</span>
        </li>
    </ul>
</div>