<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>

    <!-- inject-vendor:css -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../bower_components/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="../../bower_components/toastr/toastr.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../../.tmp/styles/app.stylus.min.css">
    <!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="AppController as app">

    <div class="io-background">
    </div>
    <div class="io-site">
        <div class="io-nav">
            <div class="io-nav-inner">
                <header class="io-nav-header red accent-2">
                    <div class="io-nav-text">
                        <div class="io-nav-header-name white-text darken-1">
                            Joel <strong>Cox</strong>
                        </div>
                        <div class="io-nav-header-email">
                        Ui & UX Designer
                        </div>
                        <div class="io-nav-header-email">
                        JavaScript Engineer
                        </div>
                    </div>
                </header>
                <div class="io-navigation" du-scroll-container="container">
                    <a href="#section-1" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-social-person red-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Profile</div>
                    </a>
                    <a href="#section-2" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-action-history purple-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Experience</div>
                    </a>
                    <a href="#section-3" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-web green-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Projects</div>
                    </a>
                    <a href="#section-4" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-equalizer blue-text accent-2"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Skills</div>
                    </a>
                    <!-- <div href="#section-5" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-communication-call amber-text darken-3"></i>
                        <div class="io-navigation-item-text grey-text darken-1">Contact</div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="io-container" id="container" du-scroll-container>

            <div class="io-content io-profile" id="section-1">
                <div class="io-profile-header">
                    <h1 class="grey-text text-darken-1">{{app.name.first}}<strong>{{app.name.last}}</strong></h1>
                </div>
                <div class="io-profile-details" data-ng-include="'app/templates/profile.view.html'"></div>
            </div>

            <div class="io-content" id="section-2">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Experience</h1>
                </div>
                <div class="io-section" data-ng-include="'app/templates/experience/hackreactor.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/hourglass-events.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/dfw-print.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/experience/his-coatings-relations.view.html'"></div>
            </div>
            <div class="io-content" id="section-3">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Projects</h1>
                </div>
                <div class="io-section" data-ng-include="'app/templates/projects/slushy.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/projects/plateful.view.html'"></div>
                <div class="io-section" data-ng-include="'app/templates/projects/TraCom.view.html'"></div>
            </div>
            <div class="io-content" id="section-4">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Skill Set</h1>
                </div>
                <div class="io-section has-cards" data-ng-include="'app/templates/skill-set.view.html'"></div>
            </div>
        </div>
    </div>

    <!-- inject-vendor:js -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/moment/moment.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../bower_components/extras.angular.plus/ngplus-overlay.js"></script>
    <script src="../../bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../../bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="../../bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="../../bower_components/toastr/toastr.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/core/core.module.js"></script>
    <script src="app/io.js"></script>
    <script src="app/core/config/core.constants.js"></script>
    <script src="app/core/config/routes.config.js"></script>
    <script src="app/core/controllers/app.controller.js"></script>
    <script src="app/core/controllers/home.controller.js"></script>
    <script src="app/core/services/storage.service.js"></script>
    <script src="app/core/directives/mvVm/mvVm.directive.js"></script>
    <script src="app/core/directives/vmItem/vmItem.directive.js"></script>
    <script src="../../.tmp/templates/templates.js"></script>
    <!-- endinject -->
    <script>
    </script>
  </body>
</html>