@font-face {
  font-family: "Material-Design-Icons";
  src: url("../fonts/material-design-icons/Material-Design-Icons.eot?-g7cqhn");
  src: url("../fonts/material-design-icons/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), url("../fonts/material-design-icons/Material-Design-Icons.woff?-g7cqhn") format("woff"), url("../fonts/material-design-icons/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), url("../fonts/material-design-icons/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Thin.ttf);
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700; }


@import '../app/core/styles/mixins'
@import '../app/core/styles/base'
@import '../app/core/styles/io'
@import '../app/core/styles/mvvm'