
<div class="io-section-heading">
    <img width="60px" src="app/logos/hr-logo.png" class="circle responsive-img">
    <h3> Hack Reactor</h3>
    <span class="sub grey-text darken-1">Hacker in Residence</span>
    <span class="date grey-text darken-1">2014</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Engaged in the development of current HR students by being an available educational resource.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Took advantage of time, diving into several technologies that extend the possibilities of programming.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Honored to be a Hacker in Residence under three month contract with HR.
        </li>
    </ul>
</div>
