
<div class="io-section-heading">
    <img width="100px" height="60px" src="app/logos/his-logo.png" class="responsive-img no-flex">
    <h3> H-I-S Coatings</h3>
    <span class="sub grey-text darken-1">Customer Service & Many other Hats</span>
    <span class="date grey-text darken-1">2001 - 2010</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Established a firm understanding of customer relations, by working closely with serveral hundred customers.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Provided support between Customer Relations, the Delivery Team, and the Small Batch Production team.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Took the initiative to reorganize in house stocking system.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Explored several positions, wearing several hats, as my father requested.
        </li>
    </ul>
</div>
