
<div class="io-section-heading">
    <img width="100px" height="60px" src="app/logos/his-logo.png" class="responsive-img no-flex">
    <h3> H-I-S Coatings</h3>
    <span class="sub grey-text darken-1">Developer & Designer</span>
    <span class="date grey-text darken-1">2013 - 2014</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Custom-developed a real-time Customer Relations Platform with rich Enerprise Resource Planning integration for H-I-S Coatings company.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Implemented full featured OAuth system using Laravel and PHP backend with Angular and jQuery on front end.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Employed Google API’s for strategic delivery, routing and just-in-time order scheduling, and platform-wide notifications.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Integrated SQL database to communicate with SQL data store, structured by current Point-of-Sale system.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Engaged company employees with continual A-B testing to improve UX design.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Provided fequent application feedback sessions for overall application health.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> TraCom is also used as the sole communications platform between Customer Relations and the Production Management team.
        </li>
    </ul>
</div>
