<blockquote>
    <div class="b-icon">
        <i class="mdi-communication-phone red-text accent-2"></i>
    </div>
    <div class="b-text">
        <span>{{app.phone}}</span>
    </div>
</blockquote>
<blockquote>
    <div class="b-icon">
        <i class="mdi-communication-email red-text accent-2"></i>
    </div>
    <div class="b-text">
        <span>{{app.email}}</span>
    </div>
</blockquote>
<blockquote>
    <div class="b-icon">
        <i class="mdi-action-home red-text accent-2"></i>
    </div>
    <div class="b-text">
        <div>{{app.address}}</div>
    </div>
</blockquote>