<div class="io-section-card">
  <div class="io-section-card-heading">
    Advanced
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="app/logos/html5-logo.png" class="responsive-img no-flex">
      <h6>HTML 5</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/css3-logo.png" class="responsive-img no-flex">
      <h6>CSS 3</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/javascript-logo.png" class="responsive-img no-flex">
      <h6>JavaScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/angular-logo.png" class="responsive-img no-flex">
      <h6>AngularJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/nodejs_logo.png" class="responsive-img no-flex">
      <h6>NodeJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/jquery-logo.png" class="responsive-img no-flex">
      <h6>jQuery</h6>
    </div>
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="app/logos/express-logo.png" class="top-lg responsive-img no-flex">
      <h6>ExpressJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/gulp-logo.png" class="responsive-img no-flex">
      <h6>GulpJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/github-logo.png" class="responsive-img no-flex">
      <h6>Github</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/ai-logo.png" class="responsive-img no-flex">
      <h6>Illustrator</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/Ps-logo.png" class="responsive-img no-flex">
      <h6>Photoshop</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/id-logo.png" class="responsive-img no-flex">
      <h6>InDesign</h6>
    </div>
  </div>
</div>
<div class="io-section-card">
  <div class="io-section-card-heading">
    Strong
  </div>

  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="app/logos/backbone-logo.png" class="responsive-img no-flex">
      <h6>BackboneJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/coffeescript-logo.png" class="responsive-img no-flex">
      <h6>CoffeeScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/jade-logo.png" class="top-md responsive-img no-flex">
      <h6>Jade</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/stylus-logo.png" class="responsive-img no-flex">
      <h6>Stylus</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/less-logo.png" class="responsive-img no-flex">
      <h6>Less</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/sass-logo.png" class="responsive-img no-flex">
      <h6>Sass</h6>
    </div>
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="app/logos/yeoman-logo.png" class="responsive-img no-flex">
      <h6>Yeoman</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/grunt-logo.png" class="responsive-img no-flex">
      <h6>GruntJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/mongo-logo.png" class="top-lg responsive-img no-flex">
      <h6>MongoDB</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/slush-logo.png" class="responsive-img no-flex">
      <h6>SlushJS</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/ionic-logo.png" class="responsive-img no-flex">
      <h6>Ionic</h6>
    </div>
    <div class="img-wrap"></div>
  </div>
</div>
<div class="io-section-card">
  <div class="io-section-card-heading">
    Experienced
  </div>
  <div class="io-section-logos">
    <div class="img-wrap">
      <img  src="app/logos/neo4j-logo.png" class="top-lg responsive-img no-flex">
      <h6>Neo4J</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/apps-script-logo.png" class="responsive-img no-flex">
      <h6>AppScript</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/redis-logo.png" class="responsive-img no-flex">
      <h6>Redis</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/postgresql-logo.png" class="responsive-img no-flex">
      <h6>PostgreSQL</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/parse-logo.png" class="top-md responsive-img no-flex">
      <h6>Parse</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/php-logo.png" class="responsive-img no-flex">
      <h6>PHP</h6>
    </div>
    <div class="img-wrap">
      <img  src="app/logos/laravel-logo.png" class="responsive-img no-flex">
      <h6>Laravel</h6>
    </div>
    <div class="img-wrap"></div>
  </div>
</div>