
<div class="io-section-heading">
    <img width="100px" height="60px" src="app/logos/dfw-logo.png" class="responsive-img no-flex">
    <h3> DFW Print</h3>
    <span class="sub grey-text darken-1">Senior Designer & Developer</span>
    <span class="date grey-text darken-1">2011 - 2013</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Improved customer sales and company reputation, by providing rich stationary designs.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Exposed Adobe's design software to the company, by teaching the team how to affectively use Photoshop, Illustrator & InDesign.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Discovered a true passion for engaging customer's, inorder to provide the design that would best fit their need.
        </li>
    </ul>
</div>
