
<div class="io-section-heading">
    <img width="100px" height="60px" src="app/logos/hourglass-logo.png" class="responsive-img no-flex">
    <h3> Hourglass Events</h3>
    <span class="sub grey-text darken-1">Senior Graphic Artist & Developer</span>
    <span class="date grey-text darken-1">2013 - 2014</span>
</div>
<div class="io-section-content">
    <ul>
        <li class="center-item">
            <i class="mdi-action-label"></i> Stimulated the FAAMA's Annual Conventions with extraordinary graphics.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Promoted convention Exhibitors thoughout each year, with continual email blasts, and mobile app ads.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Accelerated attendee envolvment with simple and intuative mobile application.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Engaged Exhibitors and FAAMA members with A-B Testing on event graphics and convention mobile app.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Assisted event managment team with graphics & mobile app.
        </li>
        <li class="center-item">
            <i class="mdi-action-label"></i> Accompanied event team managment during each convention.
        </li>
    </ul>
</div>
